language: node_js
node_js:
  - "4.2.3"
sudo: false
notifications:
  email:
    on_success: never
env:
  - TEST_DIR=reporter
  - TEST_DIR=api
  - TEST_DIR=rest-gpio
install:
  - npm install -g typings
  - npm install -g typescript
  - npm install -g tslint
script:
  - cd $TEST_DIR 
  - npm install --ignore-scripts
  - npm run postinstall
  - npm run lint
  - npm run test-travisci
after_success:
  - bash <(curl -s https://codecov.io/bash)